<div class="container">
    <form [formGroup]="forgot">
        <mat-form-field>
            <mat-label>Enter Email-Id</mat-label>
            <input type="emailId" name="emailId" formControlName="emailId" matInput>
        </mat-form-field>
        <small style="color: red;" *ngIf="forgotMsg">{{forgotMsg}}</small>
<div class="buttons">
    <button mat-raised-button (click)="forgotPwd()"  color="primary" >Submit</button>
</div>
    </form>
</div>


<span id="spin">
<mat-spinner diameter="60" strokeWidth="10" *ngIf="loader" ></mat-spinner>
</span>