<div class="container">
  <div class="row">
<mat-toolbar color="primary">
    <span>UMSM</span>
    
    
    <span>
      <span>
        <button routerLink="login" mat-button class="" *ngIf="menuType" >
          Login
         </button>
         <button mat-button routerLink="signup"  *ngIf="menuType">
           Signup
         </button>
         <button mat-button routerLink="unlock" *ngIf="menuType">Unlock Account</button>
         <button mat-button *ngIf="menuType==false" (click)="logout()" >Logout </button>
      </span>


    </span>
  
  </mat-toolbar>
</div>
</div>